@model IEnumerable<Entities.Album>

@{
    ViewData["Title"] = "Album - Index";
}

<h1>Albums</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {item.Id}) |
                    @Html.ActionLink("Details", "Details", new {item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>